body {
  font-family: Verdana, sans-serif;
  margin: auto;
  background-color: beige;  
}

li {
  color: rgb(128, 0, 128);
  background-color: yellow;
}

.main-ul li{
  background-color: hsl(0, 0%, 50%);
  display: inline-block;
  padding: 20px;
  margin-left: 70px;
  margin-top: 20px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.main-ul {
  text-align: center;
}

.main-ul .first-li {
  margin-left: -70px;
}

.main-heading {
  background-color: hsl(0, 0%, 50%);
  color: white;
  text-decoration: underline beige;
  text-underline-offset: 8px;
  letter-spacing: 20px;
  text-align: center;
  padding: 15px;
  margin: auto;
}

h2 {
  background-color: rgb(173, 216, 230);
}

